:root {
  --bg: #141414;
  --bg2: #282828;
  --bg3: #838383;
  --fg: #eaeaea;
  --purple: #935fa7;
  --blue: #5eade0;
  --green: #3bbf7d;
  --yellow: #e0e055;
  --red: #e3593b;
  --fsg: 250px;
  --fsm: 50px;
  --fwg: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima nova", monospace;
  color: var(--fg);
  font-size: 13.5px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: wave 5s ease-in-out infinite;
}



#month {
  font-size: var(--fsg);
  color: var(--blue);
  font-weight: var(--fwg);
  margin-right: 20px;
}
#day {
  font-size: var(--fsg);
  color: var(--green);
  font-weight: var(--fwg);
}
#hour {
  font-size: var(--fsg);
  color: var(--yellow);

  font-weight: var(--fwg);
}
#separator {
  font-size: var(--fsg);
  background-image: linear-gradient(to top, var(--red), var(--yellow));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: var(--fwg);
}
#minutes {
  font-size: var(--fsg);
  color: var(--red);

  font-weight: var(--fwg);
}
#greetings {
  font-size: var(--fsm);
  font-weight: var(--fwg);
  text-align: center;
}
@keyframes wave {
  0%,
  100% {
    clip-path: polygon(0 13%, 14% 12%, 27% 19%, 35% 32%, 51% 34%, 60% 37%, 71% 26%, 83% 17%, 91% 12%, 100% 6%, 100% 99%, 1% 99%); }
  50% {
    clip-path: polygon(0 28%, 12% 38%, 26% 38%, 38% 20%, 49% 10%, 59% 9%, 71% 13%, 79% 32%, 90% 38%, 100% 42%, 100% 99%, 1% 99%); } }